services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "8883:8883"
    volumes:
      - ./conf:/mosquitto/config
      - ./certs:/mosquitto/certs
    user: "1883" # UID of the mosquitto-user in the container